@import "tailwindcss";
/* ================= ORBIT ANIMATION ================= */

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counterOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.orbit {
  animation: orbit 14s linear infinite;
}

.counter-orbit {
  animation: counterOrbit 14s linear infinite;
}